.startBack {
  height: 850px;
  margin: 0 auto;
  padding: 0;
  background: #04b4dc;
}
.startBack .startFront {
  max-width: 825px;
  max-height: 850px;
  margin: -1em 0 0 -2em;
  background: white;
  padding: 0;
  float: left;
}
.startBack .startFront img {
  width: 300px;
  margin-top: 5%;
  padding-left: 2.5em;
}
.startBack .startFront .logoComment {
  font-size: 1.5em;
  font-weight: 400;
  padding-left: 2.5rem;
}
.startBack .startFront .callToAction {
  width: 100%;
  margin-top: 5%;
  padding-left: 2.5em;
}
.startBack .startFront .callToAction .header {
  font-size: 2em;
  color: #49ACDC;
  font-weight: 800;
  margin-bottom: 2em;
}
.startBack .startFront .callToAction div {
  width: 300px;
  display: inline-flex;
  margin-bottom: 2em;
}
.startBack .startFront .callToAction div img {
  width: 3em;
  float: left;
  margin: 0 5% 0 0;
  padding: 0;
}
.startBack .startFront .callToAction div .comment {
  font-size: 1em;
  line-height: 2em;
  max-width: 250px;
}
.startBack .startFront .callToAction .start {
  width: 300px;
  height: 80px;
  font-size: 2rem;
  border-radius: 10px;
  background: black;
  color: white;
  float: right;
  margin-right: 2em;
}
.startBack .startFront .callToAction .start:hover {
  background: #04b4dc;
}
.startBack .startFront .trackerContainer {
  padding: 5% 0 5%;
  width: 100%;
  border-top: 2px dotted black;
  margin-bottom: 200px;
}
.startBack .startFront .trackerContainer .trackerHeader {
  padding-left: 2.5rem;
  font-size: 1.5em;
}
.startBack .startFront .trackerContainer .trackerComment {
  padding-left: 2.5rem;
  font-size: 1em;
  max-width: 600px;
}
.startBack .parties {
  width: 300px;
  height: 100%;
  margin: 0 2em;
  display: inline-block;
  text-align: right;
}
.startBack .parties img {
  width: 150px;
  margin-top: 2em;
}
.startBack .parties div {
  width: 100%;
  display: inline-flex;
  flex-wrap: wrap;
  text-align: left;
}
.startBack .parties div .vvd {
  background: url("../img/vvd.svg");
  background-repeat: no-repeat;
  background-color: white;
  height: 50px;
  width: 50px;
  background-size: cover;
  transition: 0.1s ease-out;
  cursor: pointer;
}
.startBack .parties div .vvd:hover {
  transform: scale(2, 2);
  z-index: 2;
  border: 1px solid black;
}
.startBack .parties div .pvda {
  background: url("../img/pvda.svg");
  background-repeat: no-repeat;
  background-color: white;
  height: 50px;
  width: 50px;
  background-size: cover;
  transition: 0.1s ease-out;
  cursor: pointer;
}
.startBack .parties div .pvda:hover {
  transform: scale(2, 2);
  z-index: 2;
  border: 1px solid black;
}
.startBack .parties div .pvv {
  background: url("../img/pvv.svg");
  background-repeat: no-repeat;
  background-color: white;
  height: 50px;
  width: 50px;
  background-size: cover;
  transition: 0.1s ease-out;
  cursor: pointer;
}
.startBack .parties div .pvv:hover {
  transform: scale(2, 2);
  z-index: 2;
  border: 1px solid black;
}
.startBack .parties div .sp {
  background: url("../img/sp.svg");
  background-repeat: no-repeat;
  background-color: white;
  height: 50px;
  width: 50px;
  background-size: cover;
  transition: 0.1s ease-out;
  cursor: pointer;
}
.startBack .parties div .sp:hover {
  transform: scale(2, 2);
  z-index: 2;
  border: 1px solid black;
}
.startBack .parties div .cda {
  background: url("../img/cda.svg");
  background-repeat: no-repeat;
  background-color: white;
  height: 50px;
  width: 50px;
  background-size: cover;
  transition: 0.1s ease-out;
  cursor: pointer;
}
.startBack .parties div .cda:hover {
  transform: scale(2, 2);
  z-index: 2;
  border: 1px solid black;
}
.startBack .parties div .d66 {
  background: url("../img/d66.svg");
  background-repeat: no-repeat;
  background-color: white;
  height: 50px;
  width: 50px;
  background-size: cover;
  transition: 0.1s ease-out;
  cursor: pointer;
}
.startBack .parties div .d66:hover {
  transform: scale(2, 2);
  z-index: 2;
  border: 1px solid black;
}
.startBack .parties div .cu {
  background: url("../img/christenunie.svg");
  background-repeat: no-repeat;
  background-color: white;
  height: 50px;
  width: 50px;
  background-size: cover;
  transition: 0.1s ease-out;
  cursor: pointer;
}
.startBack .parties div .cu:hover {
  transform: scale(2, 2);
  z-index: 2;
  border: 1px solid black;
}
.startBack .parties div .gl {
  background: url("../img/groenlinks.svg");
  background-repeat: no-repeat;
  background-color: white;
  height: 50px;
  width: 50px;
  background-size: cover;
  transition: 0.1s ease-out;
  cursor: pointer;
}
.startBack .parties div .gl:hover {
  transform: scale(2, 2);
  z-index: 2;
  border: 1px solid black;
}
.startBack .parties div .sgp {
  background: url("../img/sgp.svg");
  background-repeat: no-repeat;
  background-color: white;
  height: 50px;
  width: 50px;
  background-size: cover;
  transition: 0.1s ease-out;
  cursor: pointer;
}
.startBack .parties div .sgp:hover {
  transform: scale(2, 2);
  z-index: 2;
  border: 1px solid black;
}
.startBack .parties div .pvdd {
  background: url("../img/pvdd.svg");
  background-repeat: no-repeat;
  background-color: white;
  height: 50px;
  width: 50px;
  background-size: cover;
  transition: 0.1s ease-out;
  cursor: pointer;
}
.startBack .parties div .pvdd:hover {
  transform: scale(2, 2);
  z-index: 2;
  border: 1px solid black;
}
.startBack .parties div .vp {
  background: url("../img/50plus.svg");
  background-repeat: no-repeat;
  background-color: white;
  height: 50px;
  width: 50px;
  background-size: cover;
  transition: 0.1s ease-out;
  cursor: pointer;
}
.startBack .parties div .vp:hover {
  transform: scale(2, 2);
  z-index: 2;
  border: 1px solid black;
}
.startBack .parties div .op {
  background: url("../img/ondernemerspartij.png");
  background-repeat: no-repeat;
  background-color: white;
  height: 50px;
  width: 50px;
  background-size: cover;
  transition: 0.1s ease-out;
  cursor: pointer;
}
.startBack .parties div .op:hover {
  transform: scale(2, 2);
  z-index: 2;
  border: 1px solid black;
}
.startBack .parties div .vnl {
  background: url("../img/vnl.svg");
  background-repeat: no-repeat;
  background-color: white;
  height: 50px;
  width: 50px;
  background-size: cover;
  transition: 0.1s ease-out;
  cursor: pointer;
}
.startBack .parties div .vnl:hover {
  transform: scale(2, 2);
  z-index: 2;
  border: 1px solid black;
}
.startBack .parties div .denk {
  background: url("../img/denk.svg");
  background-repeat: no-repeat;
  background-color: white;
  height: 50px;
  width: 50px;
  background-size: cover;
  transition: 0.1s ease-out;
  cursor: pointer;
}
.startBack .parties div .denk:hover {
  transform: scale(2, 2);
  z-index: 2;
  border: 1px solid black;
}
.startBack .parties div .nw {
  background: url("../img/nieuwewegen.png");
  background-repeat: no-repeat;
  background-color: white;
  height: 50px;
  width: 50px;
  background-size: cover;
  transition: 0.1s ease-out;
  cursor: pointer;
}
.startBack .parties div .nw:hover {
  transform: scale(2, 2);
  z-index: 2;
  border: 1px solid black;
}
.startBack .parties div .fvd {
  background: url("../img/forumvoordemocratie.png");
  background-repeat: no-repeat;
  background-color: white;
  height: 50px;
  width: 50px;
  background-size: cover;
  transition: 0.1s ease-out;
  cursor: pointer;
}
.startBack .parties div .fvd:hover {
  transform: scale(2, 2);
  z-index: 2;
  border: 1px solid black;
}
.startBack .parties div .dbb {
  background: url("../img/burgerbeweging.png");
  background-repeat: no-repeat;
  background-color: white;
  height: 50px;
  width: 50px;
  background-size: cover;
  transition: 0.1s ease-out;
  cursor: pointer;
}
.startBack .parties div .dbb:hover {
  transform: scale(2, 2);
  z-index: 2;
  border: 1px solid black;
}
.startBack .parties div .vzp {
  background: url("../img/vrijzinnigepartij.png");
  background-repeat: no-repeat;
  background-color: white;
  height: 50px;
  width: 50px;
  background-size: cover;
  transition: 0.1s ease-out;
  cursor: pointer;
}
.startBack .parties div .vzp:hover {
  transform: scale(2, 2);
  z-index: 2;
  border: 1px solid black;
}
.startBack .parties div .pp {
  background: url("../img/piratenpartij.svg");
  background-repeat: no-repeat;
  background-color: white;
  height: 50px;
  width: 50px;
  background-size: cover;
  transition: 0.1s ease-out;
  cursor: pointer;
}
.startBack .parties div .pp:hover {
  transform: scale(2, 2);
  z-index: 2;
  border: 1px solid black;
}
.startBack .parties div .artikel {
  background: url("../img/artikel1.png");
  background-repeat: no-repeat;
  background-color: white;
  height: 50px;
  width: 50px;
  background-size: cover;
  transition: 0.1s ease-out;
  cursor: pointer;
}
.startBack .parties div .artikel:hover {
  transform: scale(2, 2);
  z-index: 2;
  border: 1px solid black;
}
.startBack .parties div .ns {
  background: url("../img/nietstemmers.svg");
  background-repeat: no-repeat;
  background-color: white;
  height: 50px;
  width: 50px;
  background-size: cover;
  transition: 0.1s ease-out;
  cursor: pointer;
}
.startBack .parties div .ns:hover {
  transform: scale(2, 2);
  z-index: 2;
  border: 1px solid black;
}
.startBack .parties div .lp {
  background: url("../img/libertarischepartij.svg");
  background-repeat: no-repeat;
  background-color: white;
  height: 50px;
  width: 50px;
  background-size: cover;
  transition: 0.1s ease-out;
  cursor: pointer;
}
.startBack .parties div .lp:hover {
  transform: scale(2, 2);
  z-index: 2;
  border: 1px solid black;
}
.startBack .parties div .lik {
  background: url("../img/lokaalindekamer.svg");
  background-repeat: no-repeat;
  background-color: white;
  height: 50px;
  width: 50px;
  background-size: cover;
  transition: 0.1s ease-out;
  cursor: pointer;
}
.startBack .parties div .lik:hover {
  transform: scale(2, 2);
  z-index: 2;
  border: 1px solid black;
}
.startBack .parties div .gp {
  background: url("../img/geenpeil.png");
  background-repeat: no-repeat;
  background-color: white;
  height: 50px;
  width: 50px;
  background-size: cover;
  transition: 0.1s ease-out;
  cursor: pointer;
}
.startBack .parties div .gp:hover {
  transform: scale(2, 2);
  z-index: 2;
  border: 1px solid black;
}
.startBack .parties div .jl {
  background: url("../img/jezusleeft.png");
  background-repeat: no-repeat;
  background-color: white;
  height: 50px;
  width: 50px;
  background-size: cover;
  transition: 0.1s ease-out;
  cursor: pointer;
}
.startBack .parties div .jl:hover {
  transform: scale(2, 2);
  z-index: 2;
  border: 1px solid black;
}
.startBack .parties div .stemNL {
  background: url("../img/stemnl.png");
  background-repeat: no-repeat;
  background-color: white;
  height: 50px;
  width: 50px;
  background-size: cover;
  transition: 0.1s ease-out;
  cursor: pointer;
}
.startBack .parties div .stemNL:hover {
  transform: scale(2, 2);
  z-index: 2;
  border: 1px solid black;
}
.startBack .parties div .mens {
  background: url("../img/mensspirit.png");
  background-repeat: no-repeat;
  background-color: white;
  height: 50px;
  width: 50px;
  background-size: cover;
  transition: 0.1s ease-out;
  cursor: pointer;
}
.startBack .parties div .mens:hover {
  transform: scale(2, 2);
  z-index: 2;
  border: 1px solid black;
}
.startBack .parties div .vdp {
  background: url("../img/vdp.png");
  background-repeat: no-repeat;
  background-color: white;
  height: 50px;
  width: 50px;
  background-size: cover;
  transition: 0.1s ease-out;
  cursor: pointer;
}
.startBack .parties div .vdp:hover {
  transform: scale(2, 2);
  z-index: 2;
  border: 1px solid black;
}
.startBack .parties div p {
  margin: 2rem 0;
  color: white;
  width: 100%;
  font-size: 1.5em;
}
.startBack .parties div .w3-badge {
  margin: 0 1rem 1rem 0;
}

@media (max-width: 1160px) {
  .startBack {
    background: none;
    max-width: 900px;
    margin: 0 auto;
  }
  .startBack .startFront {
    max-width: 900px;
    margin: 0 auto;
  }
  .startBack .startFront .trackerContainer {
    margin-bottom: 0;
  }
  .startBack .parties {
    width: 900px;
    max-height: 500px;
    margin: 0 auto;
    background: #04b4dc;
  }
}

/*# sourceMappingURL=landing.css.map */
