.vvd {
  background: url("../img/vvd.svg");
  background-repeat: no-repeat;
  background-color: white;
  height: 50px;
  width: 50px;
  background-size: cover;
  transition: 0.1s ease-out;
  cursor: pointer;
}
.vvd:hover {
  transform: scale(2, 2);
  z-index: 2;
  border: 1px solid black;
}

.pvda {
  background: url("../img/pvda.svg");
  background-repeat: no-repeat;
  background-color: white;
  height: 50px;
  width: 50px;
  background-size: cover;
  transition: 0.1s ease-out;
  cursor: pointer;
}
.pvda:hover {
  transform: scale(2, 2);
  z-index: 2;
  border: 1px solid black;
}

.pvv {
  background: url("../img/pvv.svg");
  background-repeat: no-repeat;
  background-color: white;
  height: 50px;
  width: 50px;
  background-size: cover;
  transition: 0.1s ease-out;
  cursor: pointer;
}
.pvv:hover {
  transform: scale(2, 2);
  z-index: 2;
  border: 1px solid black;
}

.sp {
  background: url("../img/sp.svg");
  background-repeat: no-repeat;
  background-color: white;
  height: 50px;
  width: 50px;
  background-size: cover;
  transition: 0.1s ease-out;
  cursor: pointer;
}
.sp:hover {
  transform: scale(2, 2);
  z-index: 2;
  border: 1px solid black;
}

.cda {
  background: url("../img/cda.svg");
  background-repeat: no-repeat;
  background-color: white;
  height: 50px;
  width: 50px;
  background-size: cover;
  transition: 0.1s ease-out;
  cursor: pointer;
}
.cda:hover {
  transform: scale(2, 2);
  z-index: 2;
  border: 1px solid black;
}

.d66 {
  background: url("../img/d66.svg");
  background-repeat: no-repeat;
  background-color: white;
  height: 50px;
  width: 50px;
  background-size: cover;
  transition: 0.1s ease-out;
  cursor: pointer;
}
.d66:hover {
  transform: scale(2, 2);
  z-index: 2;
  border: 1px solid black;
}

.cu {
  background: url("../img/christenunie.svg");
  background-repeat: no-repeat;
  background-color: white;
  height: 50px;
  width: 50px;
  background-size: cover;
  transition: 0.1s ease-out;
  cursor: pointer;
}
.cu:hover {
  transform: scale(2, 2);
  z-index: 2;
  border: 1px solid black;
}

.gl {
  background: url("../img/groenlinks.svg");
  background-repeat: no-repeat;
  background-color: white;
  height: 50px;
  width: 50px;
  background-size: cover;
  transition: 0.1s ease-out;
  cursor: pointer;
}
.gl:hover {
  transform: scale(2, 2);
  z-index: 2;
  border: 1px solid black;
}

.sgp {
  background: url("../img/sgp.svg");
  background-repeat: no-repeat;
  background-color: white;
  height: 50px;
  width: 50px;
  background-size: cover;
  transition: 0.1s ease-out;
  cursor: pointer;
}
.sgp:hover {
  transform: scale(2, 2);
  z-index: 2;
  border: 1px solid black;
}

.pvdd {
  background: url("../img/pvdd.svg");
  background-repeat: no-repeat;
  background-color: white;
  height: 50px;
  width: 50px;
  background-size: cover;
  transition: 0.1s ease-out;
  cursor: pointer;
}
.pvdd:hover {
  transform: scale(2, 2);
  z-index: 2;
  border: 1px solid black;
}

.vp {
  background: url("../img/50plus.svg");
  background-repeat: no-repeat;
  background-color: white;
  height: 50px;
  width: 50px;
  background-size: cover;
  transition: 0.1s ease-out;
  cursor: pointer;
}
.vp:hover {
  transform: scale(2, 2);
  z-index: 2;
  border: 1px solid black;
}

.op {
  background: url("../img/ondernemerspartij.png");
  background-repeat: no-repeat;
  background-color: white;
  height: 50px;
  width: 50px;
  background-size: cover;
  transition: 0.1s ease-out;
  cursor: pointer;
}
.op:hover {
  transform: scale(2, 2);
  z-index: 2;
  border: 1px solid black;
}

.vnl {
  background: url("../img/vnl.svg");
  background-repeat: no-repeat;
  background-color: white;
  height: 50px;
  width: 50px;
  background-size: cover;
  transition: 0.1s ease-out;
  cursor: pointer;
}
.vnl:hover {
  transform: scale(2, 2);
  z-index: 2;
  border: 1px solid black;
}

.denk {
  background: url("../img/denk.svg");
  background-repeat: no-repeat;
  background-color: white;
  height: 50px;
  width: 50px;
  background-size: cover;
  transition: 0.1s ease-out;
  cursor: pointer;
}
.denk:hover {
  transform: scale(2, 2);
  z-index: 2;
  border: 1px solid black;
}

.nw {
  background: url("../img/nieuwewegen.png");
  background-repeat: no-repeat;
  background-color: white;
  height: 50px;
  width: 50px;
  background-size: cover;
  transition: 0.1s ease-out;
  cursor: pointer;
}
.nw:hover {
  transform: scale(2, 2);
  z-index: 2;
  border: 1px solid black;
}

.fvd {
  background: url("../img/forumvoordemocratie.png");
  background-repeat: no-repeat;
  background-color: white;
  height: 50px;
  width: 50px;
  background-size: cover;
  transition: 0.1s ease-out;
  cursor: pointer;
}
.fvd:hover {
  transform: scale(2, 2);
  z-index: 2;
  border: 1px solid black;
}

.dbb {
  background: url("../img/burgerbeweging.png");
  background-repeat: no-repeat;
  background-color: white;
  height: 50px;
  width: 50px;
  background-size: cover;
  transition: 0.1s ease-out;
  cursor: pointer;
}
.dbb:hover {
  transform: scale(2, 2);
  z-index: 2;
  border: 1px solid black;
}

.vzp {
  background: url("../img/vrijzinnigepartij.png");
  background-repeat: no-repeat;
  background-color: white;
  height: 50px;
  width: 50px;
  background-size: cover;
  transition: 0.1s ease-out;
  cursor: pointer;
}
.vzp:hover {
  transform: scale(2, 2);
  z-index: 2;
  border: 1px solid black;
}

.pp {
  background: url("../img/piratenpartij.svg");
  background-repeat: no-repeat;
  background-color: white;
  height: 50px;
  width: 50px;
  background-size: cover;
  transition: 0.1s ease-out;
  cursor: pointer;
}
.pp:hover {
  transform: scale(2, 2);
  z-index: 2;
  border: 1px solid black;
}

.artikel {
  background: url("../img/artikel1.png");
  background-repeat: no-repeat;
  background-color: white;
  height: 50px;
  width: 50px;
  background-size: cover;
  transition: 0.1s ease-out;
  cursor: pointer;
}
.artikel:hover {
  transform: scale(2, 2);
  z-index: 2;
  border: 1px solid black;
}

.ns {
  background: url("../img/nietstemmers.svg");
  background-repeat: no-repeat;
  background-color: white;
  height: 50px;
  width: 50px;
  background-size: cover;
  transition: 0.1s ease-out;
  cursor: pointer;
}
.ns:hover {
  transform: scale(2, 2);
  z-index: 2;
  border: 1px solid black;
}

.lp {
  background: url("../img/libertarischepartij.svg");
  background-repeat: no-repeat;
  background-color: white;
  height: 50px;
  width: 50px;
  background-size: cover;
  transition: 0.1s ease-out;
  cursor: pointer;
}
.lp:hover {
  transform: scale(2, 2);
  z-index: 2;
  border: 1px solid black;
}

.lik {
  background: url("../img/lokaalindekamer.svg");
  background-repeat: no-repeat;
  background-color: white;
  height: 50px;
  width: 50px;
  background-size: cover;
  transition: 0.1s ease-out;
  cursor: pointer;
}
.lik:hover {
  transform: scale(2, 2);
  z-index: 2;
  border: 1px solid black;
}

.gp {
  background: url("../img/geenpeil.png");
  background-repeat: no-repeat;
  background-color: white;
  height: 50px;
  width: 50px;
  background-size: cover;
  transition: 0.1s ease-out;
  cursor: pointer;
}
.gp:hover {
  transform: scale(2, 2);
  z-index: 2;
  border: 1px solid black;
}

.jl {
  background: url("../img/jezusleeft.png");
  background-repeat: no-repeat;
  background-color: white;
  height: 50px;
  width: 50px;
  background-size: cover;
  transition: 0.1s ease-out;
  cursor: pointer;
}
.jl:hover {
  transform: scale(2, 2);
  z-index: 2;
  border: 1px solid black;
}

.stemNL {
  background: url("../img/stemnl.png");
  background-repeat: no-repeat;
  background-color: white;
  height: 50px;
  width: 50px;
  background-size: cover;
  transition: 0.1s ease-out;
  cursor: pointer;
}
.stemNL:hover {
  transform: scale(2, 2);
  z-index: 2;
  border: 1px solid black;
}

.mens {
  background: url("../img/mensspirit.png");
  background-repeat: no-repeat;
  background-color: white;
  height: 50px;
  width: 50px;
  background-size: cover;
  transition: 0.1s ease-out;
  cursor: pointer;
}
.mens:hover {
  transform: scale(2, 2);
  z-index: 2;
  border: 1px solid black;
}

.vdp {
  background: url("../img/vdp.png");
  background-repeat: no-repeat;
  background-color: white;
  height: 50px;
  width: 50px;
  background-size: cover;
  transition: 0.1s ease-out;
  cursor: pointer;
}
.vdp:hover {
  transform: scale(2, 2);
  z-index: 2;
  border: 1px solid black;
}

/*# sourceMappingURL=parties.css.map */
