.poll {
  width: 1250px;
  margin: 0 auto;
  background: white;
  display: none;
}
.poll .progressBar {
  height: 10px;
  width: 0%;
  background: #04b4dc;
  margin-bottom: 2em;
}
.poll .back {
  padding: 0.5em;
  background: lightgrey;
  opacity: 0.8;
  border-radius: 5em;
  font-size: 1.5em;
  margin-left: 1em;
  cursor: pointer;
  transition: 0.1s ease-out;
}
.poll .back:hover {
  margin-left: 0.75em;
}
.poll .contentWrapper {
  min-height: 850px;
  width: 1000px;
  margin: 0 auto;
  padding-top: 2em;
}
.poll .contentWrapper .statementWrapper {
  max-width: 800px;
  height: 250px;
  margin-bottom: 7.5em;
}
.poll .contentWrapper .statementWrapper #statement {
  font-size: 2.5em;
  color: #04b4dc;
  margin-bottom: 0.5em;
  font-weight: bold;
}
.poll .contentWrapper .statementWrapper #comment {
  font-size: 1.25em;
  font-weight: lighter;
  height: 200px;
}
.poll .contentWrapper .statementControls {
  margin-bottom: 7.5em;
}
.poll .contentWrapper .statementControls button {
  width: 200px;
  height: 80px;
  font-size: 1.2rem;
  border-radius: 10px;
  background: black;
  color: white;
  margin-right: 1em;
}
.poll .contentWrapper .statementControls button:hover {
  background: #04b4dc;
}
.poll .contentWrapper .statementControls p {
  color: #CCCCCC;
  display: inline-block;
  margin-left: 3em;
  font-size: 1.5em;
  cursor: pointer;
}
.poll .contentWrapper .statementControls p span {
  transition: 0.1s ease-out;
}
.poll .contentWrapper .statementControls p:hover span {
  margin-left: 0.5em;
}
.poll .contentWrapper .opinion p, .poll .contentWrapper #opinionModal div .modalHeader div p {
  cursor: pointer;
  font-size: 2em;
}
.poll .contentWrapper .opinion p span, .poll .contentWrapper #opinionModal div .modalHeader div p span {
  color: #04b4dc;
  margin-right: 1em;
}
.poll .contentWrapper #opinionModal div .modalHeader {
  background: #CCCCCC;
  color: white;
}
.poll .contentWrapper #opinionModal div .modalHeader #closeModal {
  width: 50px;
  height: 45px;
  font-size: 3em;
  line-height: 30px;
}
.poll .contentWrapper #opinionModal div .modalContent {
  max-width: 100%;
  padding: 2em 1em;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}
.poll .contentWrapper #opinionModal div .modalContent div {
  width: 275px;
  display: inline-block;
}
.poll .contentWrapper #opinionModal div .modalContent div p {
  font-weight: bold;
  font-size: 1.5em;
  border-bottom: 2px solid black;
  padding-left: 0.5em;
}
.poll .selectBoxes {
  width: 1250px;
  margin: 0 auto;
  max-height: 650px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background: #CCCCCC;
  display: none;
  align-items: center;
  padding: 1em 7em;
}
.poll .selectBoxes .selectRow {
  border-bottom: 1px solid #CCCCCC;
  height: 50px;
  padding: 0 1em;
}
.poll .selectBoxes .selectRow .tooltip .tooltiptext {
  visibility: hidden;
  min-width: 100px;
  max-width: 200px;
  background-color: rgba(0, 0, 0, 0.85);
  color: white;
  text-align: center;
  border-radius: 10px;
  padding: 5px 0;
  position: absolute;
  display: inline-flex;
  line-height: 1.5em;
}
.poll .selectBoxes .continue {
  width: 200px;
  height: 80px;
  font-size: 1.2rem;
  border-radius: 10px;
  background: black;
  color: white;
  margin-right: 1em;
}
.poll .selectBoxes .continue:hover {
  background: #04b4dc !important;
}

/*# sourceMappingURL=poll.css.map */
